*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    max-width: 1280px;
}
:root {
    --color-de-nav: #F39F47;
    --color-sombra: #003366; /* color de la sombra azul oscuro */
    --color-boton: #83C252;
}

.primeraSeccion {
    background-image: url("../images/primerFondo.png");
}

.barrasDeNavegacion {
    border-radius: 10px; /* esquinas redondeadas */
    background-color: var(--color-de-nav);
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 8px;
    margin: 6px 0;
    box-shadow: 3px 3px 0 var(--color-sombra); /* sombra para la profundidad */
}

.imagenLogo{
    width: 150px;
    height: 86px;
}


/* Contenedor para alinear las barras en el centro del botón */
.botonBarraNav {
    display: flex;
 
    align-items: center;
    justify-content: space-around;
    /* margin: 0 60px 0 60px; */
}
.botonComprar {
    background-color:var(--color-boton);
    color: white;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    box-shadow: 5px 5px 0 var(--color-sombra);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

