* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    max-width: 1280px;
  }
 
  header {
    position: absolute;
    width: 1200px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
  }
  header > div {
    display: flex;
    justify-content: space-between;
  }
  .menuHambNB {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
  }
  .menuHambNB div {
    width: 34px;
    height: 4px;
    border: solid;
    border-radius: 111px;
    border-color: white;
    background-color: #f39e46;
    box-shadow: 4px 5px #02187e;
  }
  .btn-comprarNB {
    padding: 16px 43px 15px 43px;
    border: solid;
    border-width: 8px;
    border-radius: 111px;
    border-color: white;
    background-color: #83c252;
    box-shadow: 4px 5px #02187e;
    color: white;
    font-size: 20px;
  }
  header img {
    position: relative;
    width: 560px;
    height: 320px;
  
    left: 360px;
  }
  .section1 {
    background-image: url("/images/primerFondo.png");
    height: 959px;
    overflow: hidden;
    position: relative;
    z-index: -10;
  }
  #arbol1 {
    margin-top: 0.69px;
    margin-left: -150px;
  }
  #arbol2 {
    position: absolute;
    left: 881px;
    bottom: 179px;
  }
  #arbol3 {
    position: absolute;
    bottom: 249px;
    right: -80px;
    z-index: -2px;
  }
  #arbusto1 {
    position: absolute;
    top: 719px;
    left: 161px;
    z-index: -1;
  }
  #arbusto2 {
    position: absolute;
    bottom: 39px;
    left: 197px;
    z-index: 2;
  }
  #arbusto3 {
    position: absolute;
    bottom: 189px;
    right: -33px;
    z-index: -1;
  }
  #piedra1 {
    position: absolute;
    top: 793px;
    left: 129px;
    z-index: 1;
  }
  #piedra2 {
    position: absolute;
    right: 177px;
    bottom: 164px;
  }
  #piedra3 {
    position: absolute;
    right: 92px;
    bottom: 147px;
    z-index: 1;
  }
  #piedra4 {
    position: absolute;
    right: 177px;
    bottom: 137px;
    z-index: 2;
  }
  #pj2 {
    position: absolute;
    left: 536px;
    bottom: 259px;
    z-index: -1;
  }
  #pj3 {
    position: absolute;
    right: 355px;
    bottom: 215px;
    z-index: -2;
  }
.section2{
    background-image: url("/images/ondaDeFondoDelFondo2.png");
    background-repeat: no-repeat;
}
.fondo{
    background-image: url("/images/segundoFondo.png");
/*     z-index: 100; */
}
.primerTextoDeSegundaSeccion{
    font-family: "Lato", serif;
    font-weight: 500;
}
.segundoTextoDeSegundaSeccion{
    font-family: "Lato", serif;
    font-weight: 400;
}
.cuadroAzul{
    border: solid 23px blue;
    border-radius: 20%;
}