/* "/images/primerFondo.png" */
/* "/images/ondaDeFondoDelFondo2.png" */
/* "/images/segundoFondo.png" */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  max-width: 1280px;
  font-family: "Lato";
}

header {
  position: absolute;
  width: 1200px;
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

header>div {
  display: flex;
  justify-content: space-between;
}

.menuHambNB {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
}

.menuHambNB div {
  width: 34px;
  height: 4px;
  border: solid;
  border-radius: 111px;
  border-color: white;
  background-color: #f39e46;
  box-shadow: 4px 5px #02187e;
}

.btn-comprarNB {
  padding: 16px 43px 15px 43px;
  border: solid;
  border-width: 8px;
  border-radius: 111px;
  border-color: white;
  background-color: #83c252;
  box-shadow: 4px 5px #02187e;
  color: white;
  font-size: 20px;
}

header img {
  position: relative;
  width: 560px;
  height: 320px;

  left: 360px;
}

/* seccion 1 */

.section1 {
  background-image: url("/images/primerFondo.png");
  width: 1279.07px;
  height: 959.31px;
  top: -0.33px;
  left: -0.18px;
  gap: 0px;
  opacity: 0px;

  overflow: hidden;
  position: relative;
  z-index: -10;
}

#arbol1 {/* acomodado */
  position:absolute;
  top: -1px;
  margin-left: -153px;
  z-index: 1;
}

#arbol2 {/* acomodado */
  position: absolute;
  top: 106.71px;
  left: 881.03px;
  z-index: 3;
}

#arbol3 {/* acomodado */
  position: absolute;
  top: 278.38px;
  left: 1080.97px;
  z-index: -2px;
}

#arbusto1 {/* acomodado */
  position: absolute;
  top: 630.46px;
  left: 1028.46px;
  z-index: -1;
}

#arbusto2 {/* acomodado */
  position: absolute;
  top: 662.1px;
  left: 1080.97px;
  z-index: 2;
}

#arbusto3 {/* acomodado */
  position: absolute;
  top: 821.65px;
  left: 197.06px;
  z-index: 3;
}

#arbusto4{/* acomodado */
  position: absolute;
  top: 717.97px;
  left: 161.38px;

}

#piedra1 {/* acomodado */
  position: absolute;
  top: 793.367px;
  left: 129.07px;
  z-index: 1;
}

#piedra2 {/* acomodado */
  position: absolute;
  top: 737.5px;
  left: 1072.22px;
  z-index: 4;
}

#piedra3 {/* acomodado */
  position: absolute;
  top: 737.5px;
  left: 1031.84px;
  z-index: 3;
}

#piedra4 {/* acomodado */
  position: absolute;
  top: 786.64px;
  left: 1042.84px;
  z-index: 5;
}

#pj1{
  position: absolute;
/*   left: 400px; */
  right: 663px;
  bottom: 119.25px;
}

#pj2 {/* acomodado */
  position: absolute;
  top: 426.04px;
  left: 536px;
  opacity: 0px;
  z-index: 2;
}

#pj3 {/* acomodado */
  position: absolute;
  right: 355px;
  bottom: 215px;
  top: 365px;
  Left: 693.25px;
  z-index: 1;
}
#sombraPersonaje1{/* acomodado */
  position: absolute;
  top: 773.28px;
  left: 463px;
}
#sombraPersonaje2{/* acomodado */
  position: absolute;
  top: 746.04px;
  left: 586px;
}
#sombraPersonaje3{
  position: absolute;
  top: 715px;
  Left: 685.25px;
}

/* seccion 2 */

.section2 {
  position: relative;
  background-image: url("/images/ondaDeFondoDelFondo2.png");
  background-repeat: no-repeat;
  height: 1852px;

}

.ubicacionTextoSegundaSeccion {
  position: absolute;
  left: 100px;
  top: 60px;
  bottom: 702px;
  right: 672px;

}

.primerTextoDeSegundaSeccion {
  position: absolute;
  font-family: "Lato", serif;
  font-weight: 500;
  width: 508px;
  height: 132px;
  font-size: 47px;

}

.segundoTextoDeSegundaSeccion {
  position: absolute;
  top: 175px;
  font-family: "Lato", serif;
  font-weight: 400;
  width: 704px;
  height: 154px;
  font-size: 20px;
}

.personaje4 {
  position: absolute;
  top: 537px;
  left: 48px;
  right: 630.36px;
  bottom: 32px;
  z-index: 2;
}

.personaje5 {
  position: absolute;
  left: 787px;
  top: -79px;
}

.cuadroAzul {
  position: absolute;
  top: 356px;
  border: solid 23px #1B5F99;
  border-radius: 77px;
  left: 211px;
  width: 576.38px;
  height: 324.35px;
  bottom: 213.65px;
  /*   right: 600px; */
}


aside {
  display: flex;
  flex-direction: column;
  width: 332px;
  height: 302px;
}

aside p {
  margin-top: 23.21px;
  width: 333px;
  height: 218px;
  color: black;
}

#card1 {
  position: absolute;
  bottom: 329px;
  left: 100px;
}

#card2 {
  position: absolute;
  left: 473.52px;
  bottom: 329px;

}

#card3 {
  position: absolute;
  left: 847.04px;
  bottom: 329px;
}

/* seccion 3 */
.section3 {
  background-image: url("/images/tercerFondo.png");
  height: 1157px;
  position: relative;
}

h1 {
  position: absolute;
  top: 175px;
  left: 165px;
  right: 165px;
  bottom: 829px;
  font-size: 61px;
  color: white;
  width: 950px;
  height: 153px;
  line-height: 110%;
  font-weight: 600;
  text-align: center;
}

span {
  font-weight: bold;
  font-style: italic;
}

.botonDescargaNB {
  position: absolute;
  width: 540px;
  height: 66px;
  bottom: 701px;
  left: 370px;
  right: 370px;
  line-height: 110%;
  font-size: 31px;
  background-color: #83c252;
  border: solid #ffffff 8px;
  border-radius: 111px;
  box-shadow: 4px 5px #02187e;
  -webkit-text-stroke: 1px;
  color: #ffffff;
}

.fondoDeSeccion3 {
  position: absolute;
  top: 390px;
  z-index: 1;
}
.section4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 5421px;

}
.section4 h1 {
  position: absolute;
  top: 174px;
  left: 100px;
  right: 378px;
  font-size: 60px;
  font-weight: 600;
  line-height: 94.5%;
  color: black;
}
/* .personaje0{
  position: absolute;
  top: 4286px;
} */
.imagenesScroll,
.textoScroll {
  position: absolute;
  width: 467px;
  display: flex;
  flex-direction: column;
}
.imagenesScroll {
  top: 299px;
  left: 243px;
}
.imagenesScroll img {
  align-self: start; 
  height: auto;
  width: auto;


}

.textoScroll {
  top: 390px;
  right: 100px;
}
.textoScroll div {
  margin-bottom: 269px;
}
.textoScroll h3 {
  font-size: 40px;
  margin-bottom: 15px;
}
.textoScroll p {
  font-size: 20px;
}

.section5{
  position: relative;
  background-image: url("/images/fondoSeccion5.png");

  height: 1443.83px;

}
.imagenSeccion5{
  position:absolute;
  top: 351.83px;
  left: 631px;
  z-index: 1;
}
.contenedorVideoSeccion5{
  position: absolute;
  left: 91.5px;
  top: 525.83px;
  width: 804px;
  height: 452px;
  border: solid 30px white;
  border-radius: 40px;
}
.section6{
  position: relative;
  height: 1034px;
}
.section6 h1{
  position: absolute;
  top: 220px;
  left: 102px;
  width: 746px;
  color: #9d2121;
  font-size: 60px;
  font-weight: 600;
}
.section6 p{
  position: absolute;
  top: 591px;
  left: 100px;
  width: 467px;
  font-size: 20px;
}
.section6 #personaje1{
  position: absolute;
  top: 7px;
  right: 14px;
}
.ultimaParteSeccion6{
  position: absolute;
  width: 1296px;
  height: 729px;
  top: 1088px;
}